<div class="flex flex-col items-center">
  <div class="w-full h-100">
    <img
      src="../../../assets/images/covers/csvis_cover.png"
      class="w-full h-full"
      alt="Cover"
    />
  </div>

  <div class="text-center mx-auto max-w-2xl px-4 py-10 sm:px-0 mb-8">
    <p class="text-paragraph-xl-1">
      Your go-to for captivating photography and videography. From aerial shots
      to ground perspectives, we capture moments that speak volumes. Join our
      visual storytelling journey!
    </p>
  </div>

  <div class="w-full">
    <p class="text-heading-xl-1 font-bold text-center mb-6">
      Glimpse of what we do
    </p>

    <div class="w-full flex justify-center">
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-16"
      >
        <ng-container *ngFor="let service of services; let i = index">
          <app-service-card
            [name]="service.name"
            [imagePath]="service.imagePath"
          ></app-service-card>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="w-full mt-28">
    <p class="text-heading-xl-1 font-bold text-center mb-6">
      Connect with us on Instagram
    </p>
    
    <div
      class="w-full flex flex-col items-center lg:flex-row lg:justify-center"
    >
      <div
        class="rounded-full overflow-hidden w-20 h-20 border mb-4 lg:mb-0 lg:mr-6"
      >
        <img
          src="../../../assets/images/logos/logo.png"
          class="w-full h-full object-contain"
          alt="Logo"
        />
      </div>
      <div class="text-center lg:text-left lg:mr-24">
        <!-- {" "} -->
        <div class="tracking-wide text-heading-lg-2 font-semibold">
          <!-- {instagramProfile.data.username} -->
        </div>
      </div>
      <div class="mt-4 lg:mt-0">
        <button
          onClick="{handleClick}"
          class="bg-white border-2 py-2 px-4 flex items-center hover:cursor-pointer transform transition-transform hover:scale-105"
        >
          <!-- <FontAwesomeIcon icon={faInstagram} size="lg" className="mr-2" /> -->
          Follow
        </button>
      </div>
    </div>
  </div>
  <div class="w-full mt-8">
    <!-- <InstagramPosts /> -->
  </div>
</div>
